* {
    margin: 0px;
    padding: 0;

}
body{
    background-color: #d8dcf2;
}

.purchase {
    background: url('https://media.gettyimages.com/id/1471601471/video/indian-rupee-sign-currency-symbol-floating-in-the-air-animation-with-alpha-channel-finance.jpg?s=640x640&k=20&c=lsVnQWQrOuSO0tYFlNsITK6B1uTVxhJQ_gTK6cTbxv8=')  ;
    background-blend-mode: lighten;
    background-color: #7788a1
}

.content {
   
    margin-left: 220px;
    padding: 20px 80px;
    width: calc(100% - 220px);
}

h1 {
    padding: 20px;
}


.main2 h2 {
    margin-bottom: 10px;
    color: #2F3E46;
}



.main-header {
    width: 100%;
    height: 60px;
    background-color: #34495e;
    color: white;

}

.heading {
    font-size: 30px;
    padding: 12px 45;
    margin-left: 208px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0px;           
    width: 200px;
    background-color: #2c3e50;
    padding: 20px;
    overflow-y: auto;
    bottom: 0;
    height: 100vh;

}

.full{
    display: flex;
    
}

.sidebar .logo {
    color: #fff;
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}

.dropdown input {
    display: none;

}

.dropdown-content {
    display: none;
    list-style: none;
    padding-left: 0;
    font-weight: 10px;

}

.dropdown input:checked~.dropdown-content {
    display: block;

}

.dropdown-content li a {
    font-size: 13px;
    padding: 10px 25px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    margin: 30px 0;
}

.nav-links a,
.sidebar label {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 16px;
    transition: 0.3s;
    font-weight: 15px;
}

.nav-links a:hover,
.sidebar label:hover {
    color: #3498db;
    padding-left: 8px;
}

.box,
.box2 {
    border: 2px solid whitesmoke;
    padding: 30px;
    margin: 20px;
    width: 60vw;
    background-color: rgb(250 250 255);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 30px 280px;

}



.formfield {
    margin: 20px;
}

.formfield label {
    display: block;
    margin: 5px;
}

.box2 {
    display: block;

}

.box3 {
    border: 2px solid whitesmoke;
    padding: 30px;
    width: 60vw;
    background-color: rgb(250 250 255);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    border-radius: 8px;
}

.formfield input {
    width: 100%;
    border: 1px solid rgb(223 218 218);
    height: 28px;
    border-radius: 3px;
}

table {
    width: 100%;
    margin: 16px;
    border-collapse: collapse;

}

table th,
table td {
    border: 1px solid rgb(187, 187, 187);
}

button {
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 12px;
    margin-left: 20px;
}

table input {
    width: 100%;
}

tr.selected {
    background-color: #ffdddd;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 16px;
    margin-left: 260px;
    margin-top: 20px;
}

.cont {
    flex: 1;
    background: white;
    border: 1px solid whitesmoke;
    text-align: center;
    height: 60vh;
    box-shadow: 0px 4px 6px rgb(92, 92, 92);
}

.blue {
    background-color: lightblue;
}

.yellow {
    background-color: lightyellow;
}

.pink {
    background-color: lightpink;
}

.blue,
.yellow,
.pink {
    padding: 16px;
}


.login-page {
    justify-items: center;
    display: flex;
    justify-content: center;
}

.signup,
.login {
    background-color: white;
    border-radius: 8px;
    padding: 74px 90px;
    margin: 129px 48px
}

.login-page input {
    margin: 10px;
}

.logout {
    background-color: red;
}

.main-heading {
    text-align: center;
}

.main-page {
    background: linear-gradient(45deg, #4a69d9, #c050fd3b);
}

.stock-movement {
    display: flex;
    margin-top: 90px;
    margin-left: 240px;
    gap: 20px;
    margin-right: 10px;
}

.stock-in th,
.stock-out th, .products-table {
    background-color: #0058f1;
    color: #fff;
}


.summary-container {
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    
    margin-top: 20px;
    margin-right: 20px;
    gap: 18px;
    flex-wrap: wrap;
}

.summary-card {
    flex: 1 1 200px;
    background: #fff;
    padding: 18px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    text-align: center;
    transition: 0.2s ease;
}

.summary-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.summary-card h3 {
    font-size: 18px;
    color: #2c3e50;
    margin-bottom: 8px;
    font-weight: 600;
}

.summary-card p {
    font-size: 28px;
    font-weight: bold;
    margin-top: 4px;
    color: #2c3e50;
}

/* Card Colors */
.Opening {
    border-top: 4px solid #27ae60;
}

.in-stock {
    border-top: 4px solid #c0392b;
}

.ouy-stock {
    border-top: 4px solid #2980b9;
}

.total-stock {
    border-top: 4px solid #f39c12;
}


.cards {

    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem 0.7rem;
    font-size: 1rem;
    color: #0f2b45;
    font-weight: bold;
}

.main1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.main2 {
    width: 100%;
    margin-top: 1.5rem;
}


.purchase-table th{
    background-color: #6690af;
    color: white;
    font-size: 16px;

}
.purchase-table tbody{
    background-color: lightblue;
}
